<body class=" min-vh-100">
<header class="bg_primary " >
  <app-header ></app-header>
</header>
<main class="p-0 m-0">
  <div class="row vw-100 m-0">
    <div class="col-12 d-flex justify-content-center align-items-center header p-3">
      <label class="h3 header">Gestion des langues</label>
    </div>
    <div class="col-md-12 col-12 ">
          <app-langue-list (newItemEvent)="modalClosed($event)" (levelemit)="modi($event)"  (levelEventEmitter)="showDetail($event)" class="w-100 d-flex align-items-center justify-content-center"></app-langue-list>
    </div>
  </div>
<div class="my_modal w-100 h-100 d-flex justify-content-center align-items-center" *ngIf="showModal" >
  <app-add-language *ngIf="showModal" (onClose)="modalClosed($event)" [level]="leveli"></app-add-language >
  <div class="voile w-100 h-100"></div>
</div>
  <div *ngIf="showModalDetail" class="detail_modal d-flex justify-content-center align-items-center">
    <div class="contend d-flex align-content-end justify-content-end flex-column" style="padding-top: 3px">
      <button class="closebutton d-flex justify-content-center align-items-center bg-transparent border-0" (click)="closemodal()">
        x
      </button>
      <div class="headers d-flex flex-row justify-content-between p-2" >
        <h4 class="font-weight-bolder">Detail</h4>
        <h5 class="font-weight-bolder text-center"> {{levelsh.language}}</h5>
      </div>
      <ul class="list-unstyled">
        <li class=" pr-2 pl-2">
          <label class="font-weight-bolder" style="width: 150px">parle</label>
          <label >{{levelsh.parle}}</label>
        </li>
        <li class=" pr-2 pl-2">
          <label class="font-weight-bolder"  style="width: 150px">comprendre</label>
          <label >{{levelsh.comprendre}}</label>
        </li>
        <li class=" pr-2 pl-2">
          <label class="font-weight-bolder"  style="width: 150px">ecrire</label>
          <label >{{levelsh.ecrire}}</label>
        </li>
      </ul>
    </div>

  </div>
</main>
<footer>

  <app-footer></app-footer>
</footer>
</body>
