<body class=" min-vh-100">
<header class="bg_primary " >
  <app-header ></app-header>
</header>
<main class="p-0 m-0">
  <div class="row vw-100 m-0">
    <div class="col-12 d-flex justify-content-center align-items-center header p-3">
      <label class="h3 header">Gestion des langues</label>
    </div>
    <div class="col-md-12 col-12 ">
          <app-langue-list (newItemEvent)="modalClosed($event)" (levelemit)="modi($event)"  (levelEventEmitter)="showDetail($event)" class="w-100 d-flex align-items-center justify-content-center"></app-langue-list>
    </div>
  </div>
<div class="my_modal w-100 h-100 d-flex justify-content-center align-items-center" *ngIf="showModal" >
  <app-add-language *ngIf="showModal" (onClose)="modalClosed($event)" [level]="leveli"></app-add-language >
  <div class="voile w-100 h-100"></div>
</div>
  <div class="detail_modal">
    <div class="contend">
      {{levelsh.language}}
    </div>

  </div>
</main>
<footer>

  <app-footer></app-footer>
</footer>
</body>
