<div class="mt-5 mt-md-0 w-100 my_card row m-0 p-0 overflow-hidden">
  <div class="col-12 h-100 m-0 p-0 vae">
    <div class="col-12 h-100 m-0 p-0 ">
      <ul class="overflow-auto list-unstyled m-0 h-100 ">
        <li class="d-flex justify-content-center align-items-center pr-2 text-center pl-2"><label
          class="m-0">francais</label>
        <li class="d-flex justify-content-center align-items-center pr-2 text-center pl-2"><label
          class="m-0">francais</label>
        <li class="d-flex justify-content-center align-items-center pr-2 text-center pl-2"><label
          class="m-0">francais</label>
        <li class="d-flex justify-content-center align-items-center pr-2 text-center pl-2"><label
          class="m-0">francais</label>
        <li class="d-flex justify-content-center align-items-center pr-2 text-center pl-2"><label
          class="m-0">francais</label>
        <li class="d-flex justify-content-center align-items-center pr-2 text-center pl-2"><label
          class="m-0">francais</label>
        <li class="d-flex justify-content-center align-items-center pr-2 text-center pl-2"><label
          class="m-0">francais</label>
        <li class="d-flex justify-content-center align-items-center pr-2 text-center pl-2"><label
          class="m-0">francais</label>
        <li class="d-flex justify-content-center align-items-center pr-2 text-center pl-2"><label
          class="m-0">francais</label>
        <li class="d-flex justify-content-center align-items-center pr-2 text-center pl-2"><label
          class="m-0">francais</label>
        <li class="d-flex justify-content-center align-items-center pr-2 text-center pl-2"><label
          class="m-0">francais</label>
        <li class="d-flex justify-content-center align-items-center pr-2 text-center pl-2"><label
          class="m-0">francais</label>
        <li class="d-flex justify-content-center align-items-center pr-2 text-center pl-2"><label
          class="m-0">francais</label>
        </li>
      </ul>
    </div>
    <div class="col-12 h-100 d-flex flex-column justify-content-center align-items-center overflow-auto">
      <div  class="w-100 test">
        <h3 class="font-weight-bolder">
          Francais
        </h3>
        <div class="option d-flex flex-column align-content-star p-0 ">

          <label for="parler" class="text-left  pl-2">Parlez</label>
          <ul class="list-unstyled" id="parler">
            <li>elementaire</li>
            <li>elementaire</li>
            <li>elementaire</li>
          </ul>
        </div>
        <div class="option d-flex flex-column align-content-star p-0 mt-3">
          <label for="comprendre" class="text-left  pl-2">Comprendre</label>
          <ul class="list-unstyled" id="comprendre">
            <li>elementaire</li>
            <li>elementaire</li>
            <li>elementaire</li>
          </ul>
        </div>
        <div class="option mt-3 d-flex flex-column align-content-star p-0 ">
          <label for="ecrire" class="text-left  pl-2">ecrire</label>
          <ul class="list-unstyled" id="ecrire">
            <li>elementaire</li>
            <li>elementaire</li>
            <li>elementaire</li>
          </ul>
        </div>

      </div>

    </div>
  </div>

</div>
