<div class="mt-5 mt-md-0 w-100 my_card row m-0 p-0 overflow-hidden ">
  <div class="col-12 h-100 m-0 p-0" [class.vae]="level.id !== ''">
    <div class="col-12 h-100 m-0 p-0 d-flex justify-content-center align-items-center">
      <ul class="overflow-auto list-unstyled m-0 my_list ">
        <li *ngFor="let languageView of languages"
            class="d-flex justify-content-center align-items-center pr-2 text-center pl-2"
            (click)="setLangage(languageView)"><label
          class="m-0">{{languageView.nom}}</label></li>
      </ul>
    </div>
    <div class="col-12 h-100 d-flex flex-column justify-content-center align-items-center overflow-auto">
      <div class="w-100 test">
        <h3 class="font-weight-bolder">
          {{level.language}}
        </h3>
        <div class="option d-flex flex-column align-content-star p-0 ">

          <label for="parler" class="text-left  pl-2">Parlez</label>
          <ul class="list-unstyled" id="parler">
            <li *ngFor="let levelview of levels" [class.select]="level.parle == levelview"
                (click)="level.parle=levelview">{{levelview}}</li>
          </ul>
        </div>
        <div class="option d-flex flex-column align-content-star p-0 mt-3">
          <label for="comprendre" class="text-left  pl-2">Comprendre</label>
          <ul class="list-unstyled" id="comprendre">
            <li *ngFor="let levelview of levels" [class.select]="level.comprendre == levelview"
                (click)="level.comprendre=levelview">{{levelview}}</li>
          </ul>
        </div>
        <div class="option mt-3 d-flex flex-column align-content-star p-0 ">
          <label for="ecrire" class="text-left  pl-2">ecrire</label>
          <ul class="list-unstyled" id="ecrire">
            <li *ngFor="let levelview of levels" [class.select]="level.ecrire == levelview"
                (click)="level.ecrire=levelview">{{levelview}}</li>
          </ul>
        </div>
        <button [disabled]="level.ecrire =='' || level.comprendre =='' || level.parle ==''"
                class="add_button bg_primary1 border-0 w-100 text-white font-weight-bolder mt-1 btn" (click)="setlevel()">
          Enregistre
        </button>
      </div>

    </div>
  </div>

</div>
