div{
  background-color: white;
  padding:0;
  border-radius: 5px;
  border: 1px solid #b7b7b7;
}
li{
  padding: 3px 10px;
  margin: 2px 2px;
  transition: 0.5s;
  border-radius: 3px;
  vertical-align: center;
  cursor: pointer;
}
li:hover{
  background-color: rgb(239, 239, 239);
}
