<body class="vh-100">
<app-header class="bg_primary"></app-header>
<main class="h-100">
  <div class="row w-100 h-100">
    <div class="col-6 bg_primary h-100 left d-flex justify-content-center align-items-center">
      <p [translate]="'text.home'" class="w-75 text-justify">

      </p>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <button
        class="bg_primary border-0 btn text-white d-flex justify-content-center align-items-center font-weight-bolder"
        (click)="login()">
        <label [translate]="'loginpagecomponent.bton'" class="text-white font-weight-bolder"></label> ->
      </button>

    </div>

  </div>
</main>
</body>

