<div class="container">
  <div class="login">
    <div class="container">
      <h1>Log in</h1>
      <input type="text" placeholder="login">
      <input type="password" placeholder="Password"><br>
      <input type="checkbox"><span>Remember me</span>
      <a href="#">Forgot password?</a>
      <button (click)="login()">log in</button>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="register">
    <div class="container">
      <i class="fas fa-user-plus fa-5x"></i>
      <h2>bonjour!</h2>
      <p> login <br> test <br>
        mot de passe <br>test2021</p>
      <button>creer un compte <i class="fas fa-arrow-circle-right"></i></button>
    </div>
  </div>
</div>
